@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Mandali&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #ffffff;
  font-family: 'Mandali', sans-serif;
  font-weight: 300; }

/* titulo y logo */
#titulo {
  font-size: 1.25rem;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  #titulo h1 a {
    text-decoration: none;
    color: #000; }
  @media all and (min-width: 769px) {
    #titulo {
      font-size: 2.5rem; } }

#logo {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  #logo img {
    width: 183px;
    height: 133px; }
    @media all and (min-width: 769px) {
      #logo img {
        width: 366px;
        height: 266px; } }

/* Boton INFO */
.btninfo {
  margin-left: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-color: #ff05eaa8;
  padding: 10px;
  background-color: #9b9b9b;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase; }

/*foto de fondo con algunos productos*/
.fotos-muestra-pasadas {
  width: 100%;
  margin: auto;
  overflow: hidden;
  background-image: url(../img/posiblefondo-chico.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .fotos-muestra-pasadas ul {
    padding: 0;
    display: flex;
    width: 150%;
    animation: pasada 20s infinite;
    -webkit-animation: pasada 20s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in; }
    .fotos-muestra-pasadas ul li {
      list-style: none;
      width: 100%; }
      .fotos-muestra-pasadas ul li img {
        width: 175px;
        height: 175px;
        padding: 5px;
        margin: 32px;
        position: relative;
        border-style: groove;
        border-color: #0e0d0d;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px; }
        @media all and (min-width: 769px) {
          .fotos-muestra-pasadas ul li img {
            width: 350px;
            height: 350px; } }

@keyframes pasada {
  0% {
    margin-left: 0; }
  100% {
    margin-left: -400%; } }

@media all and (min-width: 769px) {
  @keyframes pasada {
    0% {
      margin-left: 0; }
    100% {
      margin-left: -100%; } } }

/*envios*/
div iframe {
  display: block;
  width: 100%;
  height: 450px; }

.info-text-1 p {
  font-family: 'Mandali', sans-serif;
  font-weight: 300;
  font-size: 13px;
  padding: 1rem;
  text-align: center; }
  @media all and (min-width: 769px) {
    .info-text-1 p {
      font-size: 1.5rem; } }

/* MODAL INFO */
.modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: flex;
  animation: modal 2s 0s forwards;
  -webkit-animation: modal 2s 0s forwards;
  visibility: hidden;
  opacity: 0; }

.continfo {
  width: 80%;
  height: 40%;
  margin: auto;
  background: #f1f1f1;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%; }
  .continfo h1 {
    text-align: center;
    color: #d3c82a;
    font-size: 1.5rem; }
    @media all and (min-width: 769px) {
      .continfo h1 {
        font-size: 2.5rem; } }
  .continfo h2 {
    text-align: center;
    color: red;
    padding: 1px;
    font-size: 1rem; }
    @media all and (min-width: 769px) {
      .continfo h2 {
        font-size: 1.5rem;
        padding: 20px; } }
  .continfo p {
    text-align: center;
    font-size: 12px; }
    @media all and (min-width: 769px) {
      .continfo p {
        font-size: 18px; } }
  .continfo h3 {
    text-align: center;
    color: #4400ff;
    padding: 5px;
    right: 10px;
    font-size: 20px; }
    @media all and (min-width: 769px) {
      .continfo h3 {
        font-size: 30px; } }
  @media all and (min-width: 769px) {
    .continfo {
      width: 40%;
      height: 40%; } }

#cerrar {
  display: none; }

#cerrar:checked + label, #cerrar:checked ~ .modal {
  display: none; }

#cerrar + label {
  position: fixed;
  color: #ffffff;
  font-size: 25px;
  z-index: 30;
  background: #8b0000;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  right: 10px;
  cursor: pointer;
  animation: modal 2s 0s forwards;
  -webkit-animation: modal 2s 0s forwards;
  visibility: hidden;
  opacity: 0;
  text-align: center; }

@keyframes modal {
  100% {
    visibility: visible;
    opacity: 1; } }

/* Usuario */
.form-login {
  width: 200px;
  height: 170px;
  background: #838282;
  margin: auto;
  box-shadow: 3,5px 6,5px 18,5px #000;
  padding: 10px 15px;
  color: white; }
  @media all and (min-width: 769px) {
    .form-login {
      width: 400px;
      height: 340px;
      box-shadow: 7px 13px 37px #000;
      padding: 20px 30px; } }
  .form-login h2 {
    margin: 0;
    text-align: center;
    height: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid;
    font-size: 12.5px; }
    @media all and (min-width: 769px) {
      .form-login h2 {
        height: 40px;
        margin-bottom: 30px;
        border-bottom: 1px solid;
        font-size: 25px; } }
  .form-login .controls {
    width: 100%;
    border: 0,5px solid #017bab;
    margin-bottom: 7,5px;
    padding: 5px 5px;
    background: #ffffff;
    font-size: 7px;
    font-weight: bold; }
    @media all and (min-width: 769px) {
      .form-login .controls {
        width: 100%;
        border: 1px solid #017bab;
        margin-bottom: 15px;
        padding: 10px 10px;
        background: #ffffff;
        font-size: 14px; } }
  .form-login .button {
    width: 100%;
    height: 20px;
    background: #017bab;
    border: none;
    color: white;
    margin-bottom: 8px;
    font-size: 10px; }
    @media all and (min-width: 769px) {
      .form-login .button {
        width: 100%;
        height: 40px;
        margin-bottom: 16px;
        font-size: 20px; } }
  .form-login p {
    height: 20px;
    text-align: center;
    border-bottom: 0,5px solid; }
    @media all and (min-width: 769px) {
      .form-login p {
        height: 40px;
        border-bottom: 1px solid; } }
  .form-login a {
    color: white;
    text-decoration: none;
    font-size: 12.5px; }
    @media all and (min-width: 769px) {
      .form-login a {
        font-size: 25px; } }
    .form-login a:hover {
      text-decoration: underline; }

/* Tabla de talles */
.table {
  border: 1px solid;
  border-collapse: collapse;
  width: 100%;
  font-size: 20px; }
  .table thead tr {
    border-collapse: collapse;
    padding: 20px;
    background-color: #c0bfbf; }
    .table thead tr th {
      border-collapse: collapse;
      padding: 20px;
      text-align: left; }
  .table tbody tr {
    border-collapse: collapse;
    padding: 20px; }
    .table tbody tr:nth-child(even) {
      background-color: #c0bfbf; }
    .table tbody tr:hover {
      background-color: #e7e7e769; }
    .table tbody tr th {
      border-collapse: collapse;
      padding: 20px;
      text-align: left; }
    .table tbody tr td {
      border-collapse: collapse;
      padding: 20px;
      text-align: left; }

/* footer */
#footer p {
  font-family: 'Mandali', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  padding: 1rem;
  color: #ff0000; }

/*menu nav de la pag*/
nav {
  background-color: #efeeee;
  width: 100%; }
  nav ul {
    list-style-type: none;
    text-align: center; }
    nav ul li {
      display: inline-block;
      margin-right: 1rem;
      font-size: 0.75rem;
      text-transform: uppercase; }
      nav ul li a {
        text-decoration: none;
        color: #000000; }
        nav ul li a:hover {
          color: #06afa7;
          transition: all .3s; }
      @media all and (min-width: 769px) {
        nav ul li {
          font-size: 1.5rem; } }
  nav .active a {
    text-decoration: none;
    color: #cfcfcf; }

/* menu con submenu de productos*/
.navegacion {
  width: 100%;
  margin-top: 10px;
  background: #efeeee; }
  .navegacion ul {
    list-style: none;
    text-align: center;
    font-size: 0.75rem;
    text-transform: uppercase; }
    @media all and (min-width: 769px) {
      .navegacion ul {
        font-size: 1.5rem; } }
  @media all and (min-width: 769px) {
    .navegacion {
      margin-top: 20px; } }

.menu li {
  position: relative;
  display: inline-block; }
  .menu li:hover .submenu {
    visibility: visible;
    opacity: 1; }
  .menu li a {
    display: block;
    padding: 10px;
    color: #353535;
    font-family: 'Dongle', sans-serif;
    font-weight: 300;
    text-decoration: none; }
    .menu li a:hover {
      color: #06afa7;
      transition: all .3s; }

/* Submenu*/
.submenu {
  position: absolute;
  background: #c5c5c5;
  width: 120%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s;
  -webkit-transition: opacity 1.5s;
  -moz-transition: opacity 1.5s;
  -ms-transition: opacity 1.5s;
  -o-transition: opacity 1.5s; }
  .submenu li a {
    display: inline-block;
    padding: 1px;
    color: #fff;
    font-family: 'Dongle', sans-serif;
    font-weight: 300;
    text-decoration: none; }

/*info de productos*/
#pedidos {
  text-align: center; }
  #pedidos p {
    font-size: 1.5rem;
    line-height: 1;
    margin: 10px; }
  #pedidos .pasos {
    list-style-position: inside;
    line-height: 1.6;
    font-family: 'Mandali', sans-serif;
    font-size: 13px;
    padding: 10px 1rem 1rem 1rem;
    margin: 0; }
    @media all and (min-width: 769px) {
      #pedidos .pasos {
        font-size: 1.2rem; } }
  #pedidos .infoextra {
    list-style-position: inside;
    color: #f50d81;
    margin-left: 12px; }
    @media all and (min-width: 769px) {
      #pedidos .infoextra {
        margin-left: 1em; } }

/*pagos en productos*/
#fotos-pagos {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center; }
  @media all and (min-width: 769px) {
    #fotos-pagos {
      flex-direction: row; } }

.modified-text-1 {
  display: inline-block; }
  .modified-text-1 p {
    font-size: 20px;
    text-align: center; }
    @media all and (min-width: 769px) {
      .modified-text-1 p {
        font-size: 30px; } }
  .modified-text-1 img {
    width: 212px;
    height: 212px; }
    @media all and (min-width: 769px) {
      .modified-text-1 img {
        width: 412px;
        height: 412px; } }

/* Foto fondo de productos */
.Foto-div-prduc img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 323px;
  height: 156px;
  margin: auto; }
  @media all and (min-width: 769px) {
    .Foto-div-prduc img {
      width: 970px;
      height: 470px; } }

/* Catalogo de Productos */
#cat-pelis h2 {
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
  font-family: 'Mandali', sans-serif;
  font-weight: 300; }
  @media all and (min-width: 769px) {
    #cat-pelis h2 {
      font-size: 3rem; } }

#cat-animales h2 {
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
  font-family: 'Mandali', sans-serif;
  font-weight: 300; }
  @media all and (min-width: 769px) {
    #cat-animales h2 {
      font-size: 3rem; } }

#cat-calcos h2 {
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
  font-family: 'Mandali', sans-serif;
  font-weight: 300; }
  @media all and (min-width: 769px) {
    #cat-calcos h2 {
      font-size: 3rem; } }

#cat-cart h2 {
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
  font-family: 'Mandali', sans-serif;
  font-weight: 300; }
  @media all and (min-width: 769px) {
    #cat-cart h2 {
      font-size: 3rem; } }

#cat-cant h2 {
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
  font-family: 'Mandali', sans-serif;
  font-weight: 300; }
  @media all and (min-width: 769px) {
    #cat-cant h2 {
      font-size: 3rem; } }

#cat-nfl h2 {
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
  font-family: 'Mandali', sans-serif;
  font-weight: 300; }
  @media all and (min-width: 769px) {
    #cat-nfl h2 {
      font-size: 3rem; } }

.wrap, .atras {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.wrap {
  margin: 50px;
  flex-wrap: wrap; }

.tarjeta-wrap {
  margin: 10px;
  perspective: 800; }
  .tarjeta-wrap:hover .tarjeta {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg); }

.tarjeta {
  width: 175px;
  height: 175px;
  background: #ffffff;
  position: relative;
  transform-style: preserve-3d;
  box-shadow: 0px 10px 15px -5px #000000a6;
  transition: .7s ease;
  -webkit-transition: .7s ease;
  -moz-transition: .7s ease;
  -ms-transition: .7s ease;
  -o-transition: .7s ease; }
  @media all and (min-width: 769px) {
    .tarjeta {
      width: 350px;
      height: 350px; } }

.adelante, .atras {
  /*width: 100%;
	height: 100%;*/
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; }

.adelante {
  width: 100%; }

.atras {
  padding: 20px;
  font-size: 0.6rem;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg); }
  @media all and (min-width: 769px) {
    .atras {
      font-size: 1.5rem; } }
  .atras div {
    text-align: center; }
    .atras div p {
      font-size: 12px;
      padding: 10px; }
      @media all and (min-width: 769px) {
        .atras div p {
          font-size: 20px;
          padding: 40px; } }

/* Peliculas */
.card-peli1 {
  background-image: url(../img/productos/peliculas/peliculas.jpg);
  background-size: cover;
  width: 175px;
  height: 175px; }
  @media all and (min-width: 769px) {
    .card-peli1 {
      width: 350px;
      height: 350px; } }

.card-peli2 {
  background-image: url(../img/productos/peliculas/peliculas1.jpg);
  background-size: cover;
  width: 175px;
  height: 175px; }
  @media all and (min-width: 769px) {
    .card-peli2 {
      width: 350px;
      height: 350px; } }

.card-peli3 {
  background-image: url(../img/productos/peliculas/peliculas2.jpg);
  background-size: cover;
  width: 175px;
  height: 175px; }
  @media all and (min-width: 769px) {
    .card-peli3 {
      width: 350px;
      height: 350px; } }

.card-peli4 {
  background-image: url(../img/productos/peliculas/peliculas3.jpg);
  background-size: cover;
  width: 175px;
  height: 175px; }
  @media all and (min-width: 769px) {
    .card-peli4 {
      width: 350px;
      height: 350px; } }

.card-peli5 {
  background-image: url(../img/productos/peliculas/peliculas4.jpg);
  background-size: cover;
  width: 175px;
  height: 175px; }
  @media all and (min-width: 769px) {
    .card-peli5 {
      width: 350px;
      height: 350px; } }

.card-peli6 {
  background-image: url(../img/productos/peliculas/peliculas5.jpg);
  background-size: cover;
  width: 175px;
  height: 175px; }
  @media all and (min-width: 769px) {
    .card-peli6 {
      width: 350px;
      height: 350px; } }

.card-peli7 {
  background-image: url(../img/productos/peliculas/peliculas6.jpg);
  background-size: cover;
  width: 175px;
  height: 175px; }
  @media all and (min-width: 769px) {
    .card-peli7 {
      width: 350px;
      height: 350px; } }

/* Animales */
.card-Animal1 {
  background-image: url(../img/productos/animales/animales1.jpg);
  background-size: cover;
  width: 175px;
  height: 175px; }
  @media all and (min-width: 769px) {
    .card-Animal1 {
      width: 350px;
      height: 350px; } }

.card-Animal2 {
  background-image: url(../img/productos/animales/animales2.jpg);
  background-size: cover;
  width: 175px;
  height: 175px; }
  @media all and (min-width: 769px) {
    .card-Animal2 {
      width: 350px;
      height: 350px; } }

.card-Animal3 {
  background-image: url(../img/productos/animales/animales3.jpg);
  background-size: cover;
  width: 175px;
  height: 175px; }
  @media all and (min-width: 769px) {
    .card-Animal3 {
      width: 350px;
      height: 350px; } }

.card-Animal4 {
  background-image: url(../img/productos/animales/animales4.jpg);
  background-size: cover;
  width: 175px;
  height: 175px; }
  @media all and (min-width: 769px) {
    .card-Animal4 {
      width: 350px;
      height: 350px; } }

.card-Animal5 {
  background-image: url(../img/productos/animales/animales5.jpg);
  background-size: cover;
  width: 175px;
  height: 175px; }
  @media all and (min-width: 769px) {
    .card-Animal5 {
      width: 350px;
      height: 350px; } }

.card-Animal6 {
  background-image: url(../img/productos/animales/animales6.jpg);
  background-size: cover;
  width: 175px;
  height: 175px; }
  @media all and (min-width: 769px) {
    .card-Animal6 {
      width: 350px;
      height: 350px; } }

.card-Animal7 {
  background-image: url(../img/productos/animales/animales7.jpg);
  background-size: cover;
  width: 175px;
  height: 175px; }
  @media all and (min-width: 769px) {
    .card-Animal7 {
      width: 350px;
      height: 350px; } }

.card-Animal8 {
  background-image: url(../img/productos/animales/animales8.jpg);
  background-size: cover;
  width: 175px;
  height: 175px; }
  @media all and (min-width: 769px) {
    .card-Animal8 {
      width: 350px;
      height: 350px; } }

.card-Animal9 {
  background-image: url(../img/productos/animales/animales9.jpg);
  background-size: cover;
  width: 175px;
  height: 175px; }
  @media all and (min-width: 769px) {
    .card-Animal9 {
      width: 350px;
      height: 350px; } }

/* Calcos */
.card-calco1 {
  background-image: url(../img/productos/calcos/calco1.jpg);
  background-size: cover;
  width: 175px;
  height: 175px; }
  @media all and (min-width: 769px) {
    .card-calco1 {
      width: 350px;
      height: 350px; } }

.card-calco2 {
  background-image: url(../img/productos/calcos/calco2.jpg);
  background-size: cover;
  width: 175px;
  height: 175px; }
  @media all and (min-width: 769px) {
    .card-calco2 {
      width: 350px;
      height: 350px; } }

.card-calco3 {
  background-image: url(../img/productos/calcos/calco3.jpg);
  background-size: cover;
  width: 175px;
  height: 175px; }
  @media all and (min-width: 769px) {
    .card-calco3 {
      width: 350px;
      height: 350px; } }

.card-calco4 {
  background-image: url(../img/productos/calcos/calco4.jpg);
  background-size: cover;
  width: 175px;
  height: 175px; }
  @media all and (min-width: 769px) {
    .card-calco4 {
      width: 350px;
      height: 350px; } }

.card-calco5 {
  background-image: url(../img/productos/calcos/calco5.jpg);
  background-size: cover;
  width: 175px;
  height: 175px; }
  @media all and (min-width: 769px) {
    .card-calco5 {
      width: 350px;
      height: 350px; } }

.card-calco6 {
  background-image: url(../img/productos/calcos/calco6.jpg);
  background-size: cover;
  width: 175px;
  height: 175px; }
  @media all and (min-width: 769px) {
    .card-calco6 {
      width: 350px;
      height: 350px; } }

.card-calco7 {
  background-image: url(../img/productos/calcos/calco7.jpg);
  background-size: cover;
  width: 175px;
  height: 175px; }
  @media all and (min-width: 769px) {
    .card-calco7 {
      width: 350px;
      height: 350px; } }

.card-calco8 {
  background-image: url(../img/productos/calcos/calco8.jpg);
  background-size: cover;
  width: 175px;
  height: 175px; }
  @media all and (min-width: 769px) {
    .card-calco8 {
      width: 350px;
      height: 350px; } }

/* Cartoons */
.card-cart1 {
  background-image: url(../img/productos/cartoons/cart1.jpg);
  background-size: cover;
  width: 175px;
  height: 175px; }
  @media all and (min-width: 769px) {
    .card-cart1 {
      width: 350px;
      height: 350px; } }

.card-cart2 {
  background-image: url(../img/productos/cartoons/cart2.jpg);
  background-size: cover;
  width: 175px;
  height: 175px; }
  @media all and (min-width: 769px) {
    .card-cart2 {
      width: 350px;
      height: 350px; } }

.card-cart3 {
  background-image: url(../img/productos/cartoons/cart3.jpg);
  background-size: cover;
  width: 175px;
  height: 175px; }
  @media all and (min-width: 769px) {
    .card-cart3 {
      width: 350px;
      height: 350px; } }

.card-cart4 {
  background-image: url(../img/productos/cartoons/cart4.jpg);
  background-size: cover;
  width: 175px;
  height: 175px; }
  @media all and (min-width: 769px) {
    .card-cart4 {
      width: 350px;
      height: 350px; } }

.card-cart5 {
  background-image: url(../img/productos/cartoons/cart5.jpg);
  background-size: cover;
  width: 175px;
  height: 175px; }
  @media all and (min-width: 769px) {
    .card-cart5 {
      width: 350px;
      height: 350px; } }

.card-cart6 {
  background-image: url(../img/productos/cartoons/cart6.jpg);
  background-size: cover;
  width: 175px;
  height: 175px; }
  @media all and (min-width: 769px) {
    .card-cart6 {
      width: 350px;
      height: 350px; } }

.card-cart7 {
  background-image: url(../img/productos/cartoons/cart7.jpg);
  background-size: cover;
  width: 175px;
  height: 175px; }
  @media all and (min-width: 769px) {
    .card-cart7 {
      width: 350px;
      height: 350px; } }

.card-cart8 {
  background-image: url(../img/productos/cartoons/cart8.jpg);
  background-size: cover;
  width: 175px;
  height: 175px; }
  @media all and (min-width: 769px) {
    .card-cart8 {
      width: 350px;
      height: 350px; } }

.card-cart9 {
  background-image: url(../img/productos/cartoons/cart9.jpg);
  background-size: cover;
  width: 175px;
  height: 175px; }
  @media all and (min-width: 769px) {
    .card-cart9 {
      width: 350px;
      height: 350px; } }

.card-cart10 {
  background-image: url(../img/productos/cartoons/cart10.jpg);
  background-size: cover;
  width: 175px;
  height: 175px; }
  @media all and (min-width: 769px) {
    .card-cart10 {
      width: 350px;
      height: 350px; } }

/* Cantatntes */
.card-cant1 {
  background-image: url(../img/productos/cantantes/cantante1.jpg);
  background-size: cover;
  width: 175px;
  height: 175px; }
  @media all and (min-width: 769px) {
    .card-cant1 {
      width: 350px;
      height: 350px; } }

.card-cant2 {
  background-image: url(../img/productos/cantantes/cantante2.jpg);
  background-size: cover;
  width: 175px;
  height: 175px; }
  @media all and (min-width: 769px) {
    .card-cant2 {
      width: 350px;
      height: 350px; } }

.card-cant3 {
  background-image: url(../img/productos/cantantes/cantante3.jpg);
  background-size: cover;
  width: 175px;
  height: 175px; }
  @media all and (min-width: 769px) {
    .card-cant3 {
      width: 350px;
      height: 350px; } }

.card-cant4 {
  background-image: url(../img/productos/cantantes/cantante4.jpg);
  background-size: cover;
  width: 175px;
  height: 175px; }
  @media all and (min-width: 769px) {
    .card-cant4 {
      width: 350px;
      height: 350px; } }

/* NFL */
.card-nfl1 {
  background-image: url(../img/productos/nfl/nfl1.jpg);
  background-size: cover;
  width: 175px;
  height: 175px; }
  @media all and (min-width: 769px) {
    .card-nfl1 {
      width: 350px;
      height: 350px; } }

.card-nfl2 {
  background-image: url(../img/productos/nfl/nfl2.jpg);
  background-size: cover;
  width: 175px;
  height: 175px; }
  @media all and (min-width: 769px) {
    .card-nfl2 {
      width: 350px;
      height: 350px; } }

.card-nfl3 {
  background-image: url(../img/productos/nfl/nfl3.jpg);
  background-size: cover;
  width: 175px;
  height: 175px; }
  @media all and (min-width: 769px) {
    .card-nfl3 {
      width: 350px;
      height: 350px; } }

.card-nfl4 {
  background-image: url(../img/productos/nfl/nfl4.jpg);
  background-size: cover;
  width: 175px;
  height: 175px; }
  @media all and (min-width: 769px) {
    .card-nfl4 {
      width: 350px;
      height: 350px; } }

.card-nfl5 {
  background-image: url(../img/productos/nfl/nfl5.jpg);
  background-size: cover;
  width: 175px;
  height: 175px; }
  @media all and (min-width: 769px) {
    .card-nfl5 {
      width: 350px;
      height: 350px; } }

/*redes sociales*/
#redessoc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #redessoc img {
    display: inline-block;
    width: 128px;
    margin: 20px;
    padding: 10px; }
    @media all and (min-width: 769px) {
      #redessoc img {
        width: 256px;
        margin: 20px;
        padding: 10px; } }
  @media all and (min-width: 769px) {
    #redessoc {
      flex-direction: row; } }
