/* CARRITO HTML + JS*/

#cajaflex{
    display: inline-flex;
    flex-direction: column;
    background-color: #a39f9f;
    width: 800px;
    height: 800px;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#carritoh1{
    font-size: 36px;
    color: #ff05ac8a;
}

#contPrdt{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #0077ff;
}

#fc{
    font-size: 30px;
    color: #1b0cee;
}

#cajaflex{

    .txttotalfc{
        font-size: 24px;
        margin-top: 20px;
    }
}

#borrarfc{
    margin-top: 30px;
    font-size: 28px;
    color: #fff;
    background-color: #0077ff;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 200px;
    height: 50px;
}

#comprarfc{
    margin-top: 30px;
    font-size: 28px;
    color: #fff;
    background-color: #0077ff;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 200px;
    height: 50px;
}

/* TOASTIFY*/

.toastitext{
    font-size: 20px;
}


/* FETCH FORM */

.mejoresusers{
    display: inline;
    width: 700px;
    height: 500px;
    font-size: 20px;

    h3{
        font-size: 28px;
    }
    
    p{
        text-align: center;
        color: #000;
        font-size: 20px;
    }
}
