/*info de productos*/

#pedidos{
    text-align: center;

    p{
        font-size: 1.5rem;
        line-height: 1;
        margin: 10px;
    }

    .pasos{
        list-style-position: inside;
        line-height: 1.6;
        font-family: 'Mandali', sans-serif;
        font-size: 13px;
        padding: 10px 1rem 1rem 1rem;
        margin: 0;

        @media all and (min-width:$mediaq-md){
            font-size: 1.2rem;
        }
    }

    .infoextra{
        list-style-position: inside;
        color: #f50d81;
        margin-left: 12px;

        @media all and (min-width:$mediaq-md){
            margin-left: 1em;
        }
    }
}

/*pagos en productos*/

#fotos-pagos{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    @media all and (min-width:$mediaq-md){
        flex-direction: row;
    }
}

.modified-text-1{
    display: inline-block;

    p{
        font-size: 20px;
        text-align: center;
        @media all and (min-width:$mediaq-md){
            font-size: 30px;
        }
    }

    img{
        width: 212px;
        height: 212px;

        @media all and (min-width:$mediaq-md){
            width: 412px;
            height: 412px;
        }
    }
}

/* Foto fondo de productos */

.Foto-div-prduc{
    img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 323px;
        height: 156px;
        margin: auto;

        @media all and (min-width:$mediaq-md){
            width: 970px;
            height: 470px;
        }
    }
}

/* Catalogo de Productos */

#cat-pelis{
    @include h2;
}

#cat-animales{
    @include h2;
}

#cat-calcos{
    @include h2;
}

#cat-cart{
    @include h2;
}

#cat-cant{
    @include h2;
}

#cat-nfl{
    @include h2;
}

%claseconflex{
    display: flex;
    flex-direction: row;
    align-items: center;
	justify-content: center;
}

.wrap{
	margin: 50px;
    flex-wrap: wrap;
    @extend %claseconflex;
}

.tarjeta-wrap{
	margin: 10px;
	perspective: 800;
    &:hover{
        .tarjeta{
            transform: rotateY(180deg);
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -ms-transform: rotateY(180deg);
            -o-transform: rotateY(180deg);
        }
    }
}

.tarjeta{
	width: 175px;
	height: 175px;
	background: #ffffff;
	position:map-get($map, rposition);
	transform-style: preserve-3d;
	box-shadow: 0px 10px 15px -5px #000000a6;
    transition: .7s ease;
	-webkit-transition: .7s ease;
	-moz-transition: .7s ease;
	-ms-transition: .7s ease;
	-o-transition: .7s ease;

    @media all and (min-width:$mediaq-md){
        width: 350px;
	    height: 350px;
    }
}

.adelante, .atras{
    /*width: 100%;
	height: 100%;*/
	position:map-get($map, aposition);
	top: 0;
	left: 0;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

.adelante{
	width: 100%;
}

.atras{
    padding: 20px;
    @extend %claseconflex;
    font-size: 0.6rem;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);

    @media all and (min-width:$mediaq-md){
        font-size: 1.5rem;
    }

    div{
        text-align: center;
        p{
            font-size: 12px;
            padding: 10px;
            
            @media all and (min-width:$mediaq-md){
                font-size: 20px;
                padding: 40px;
            }
        }
    }
}

/* Peliculas */

.card-peli1{
	background-image: url(../img/productos/peliculas/peliculas.jpg);
	background-size: cover;
    @include pxbajos(175px, 175px);

    @media all and (min-width:$mediaq-md){
        @include pxaltos(350px, 350px);
    }
}

.card-peli2{
	background-image: url(../img/productos/peliculas/peliculas1.jpg);
	background-size: cover;
    @include pxbajos(175px, 175px);

    @media all and (min-width:$mediaq-md){
        @include pxaltos(350px, 350px);
    }
}

.card-peli3{
	background-image: url(../img/productos/peliculas/peliculas2.jpg);
	background-size: cover;
    @include pxbajos(175px, 175px);

    @media all and (min-width:$mediaq-md){
        @include pxaltos(350px, 350px);
    }
}

.card-peli4{
	background-image: url(../img/productos/peliculas/peliculas3.jpg);
	background-size: cover;
    @include pxbajos(175px, 175px);

    @media all and (min-width:$mediaq-md){
        @include pxaltos(350px, 350px);
    }
}

.card-peli5{
	background-image: url(../img/productos/peliculas/peliculas4.jpg);
	background-size: cover;
    @include pxbajos(175px, 175px);

    @media all and (min-width:$mediaq-md){
        @include pxaltos(350px, 350px);
    }
}

.card-peli6{
	background-image: url(../img/productos/peliculas/peliculas5.jpg);
	background-size: cover;
    @include pxbajos(175px, 175px);

    @media all and (min-width:$mediaq-md){
        @include pxaltos(350px, 350px);
    }
}

.card-peli7{
	background-image: url(../img/productos/peliculas/peliculas6.jpg);
	background-size: cover;
    @include pxbajos(175px, 175px);

    @media all and (min-width:$mediaq-md){
        @include pxaltos(350px, 350px);
    }
}

/* Animales */

.card-Animal1{
	background-image: url(../img/productos/animales/animales1.jpg);
	background-size: cover;
    @include pxbajos(175px, 175px);

    @media all and (min-width:$mediaq-md){
        @include pxaltos(350px, 350px);
    }
}

.card-Animal2{
	background-image: url(../img/productos/animales/animales2.jpg);
	background-size: cover;
    @include pxbajos(175px, 175px);

    @media all and (min-width:$mediaq-md){
        @include pxaltos(350px, 350px);
    }
}

.card-Animal3{
	background-image: url(../img/productos/animales/animales3.jpg);
	background-size: cover;
    @include pxbajos(175px, 175px);

    @media all and (min-width:$mediaq-md){
        @include pxaltos(350px, 350px);
    }
}

.card-Animal4{
	background-image: url(../img/productos/animales/animales4.jpg);
	background-size: cover;
    @include pxbajos(175px, 175px);

    @media all and (min-width:$mediaq-md){
        @include pxaltos(350px, 350px);
    }
}

.card-Animal5{
	background-image: url(../img/productos/animales/animales5.jpg);
	background-size: cover;
    @include pxbajos(175px, 175px);

    @media all and (min-width:$mediaq-md){
        @include pxaltos(350px, 350px);
    }
}

.card-Animal6{
	background-image: url(../img/productos/animales/animales6.jpg);
	background-size: cover;
    @include pxbajos(175px, 175px);

    @media all and (min-width:$mediaq-md){
        @include pxaltos(350px, 350px);
    }
}

.card-Animal7{
	background-image: url(../img/productos/animales/animales7.jpg);
	background-size: cover;
    @include pxbajos(175px, 175px);

    @media all and (min-width:$mediaq-md){
        @include pxaltos(350px, 350px);
    }
}

.card-Animal8{
	background-image: url(../img/productos/animales/animales8.jpg);
	background-size: cover;
    @include pxbajos(175px, 175px);

    @media all and (min-width:$mediaq-md){
        @include pxaltos(350px, 350px);
    }
}

.card-Animal9{
	background-image: url(../img/productos/animales/animales9.jpg);
	background-size: cover;
    @include pxbajos(175px, 175px);

    @media all and (min-width:$mediaq-md){
        @include pxaltos(350px, 350px);
    }
}

/* Calcos */

.card-calco1{
	background-image: url(../img/productos/calcos/calco1.jpg);
	background-size: cover;
    @include pxbajos(175px, 175px);

    @media all and (min-width:$mediaq-md){
        @include pxaltos(350px, 350px);
    }
}

.card-calco2{
	background-image: url(../img/productos/calcos/calco2.jpg);
	background-size: cover;
    @include pxbajos(175px, 175px);

    @media all and (min-width:$mediaq-md){
        @include pxaltos(350px, 350px);
    }
}

.card-calco3{
	background-image: url(../img/productos/calcos/calco3.jpg);
	background-size: cover;
    @include pxbajos(175px, 175px);

    @media all and (min-width:$mediaq-md){
        @include pxaltos(350px, 350px);
    }
}

.card-calco4{
	background-image: url(../img/productos/calcos/calco4.jpg);
	background-size: cover;
    @include pxbajos(175px, 175px);

    @media all and (min-width:$mediaq-md){
        @include pxaltos(350px, 350px);
    }
}

.card-calco5{
	background-image: url(../img/productos/calcos/calco5.jpg);
	background-size: cover;
    @include pxbajos(175px, 175px);

    @media all and (min-width:$mediaq-md){
        @include pxaltos(350px, 350px);
    }
}

.card-calco6{
	background-image: url(../img/productos/calcos/calco6.jpg);
	background-size: cover;
    @include pxbajos(175px, 175px);

    @media all and (min-width:$mediaq-md){
        @include pxaltos(350px, 350px);
    }
}

.card-calco7{
	background-image: url(../img/productos/calcos/calco7.jpg);
	background-size: cover;
    @include pxbajos(175px, 175px);

    @media all and (min-width:$mediaq-md){
        @include pxaltos(350px, 350px);
    }
}

.card-calco8{
	background-image: url(../img/productos/calcos/calco8.jpg);
	background-size: cover;
    @include pxbajos(175px, 175px);

    @media all and (min-width:$mediaq-md){
        @include pxaltos(350px, 350px);
    }
}

/* Cartoons */

.card-cart1{
	background-image: url(../img/productos/cartoons/cart1.jpg);
	background-size: cover;
    @include pxbajos(175px, 175px);

    @media all and (min-width:$mediaq-md){
        @include pxaltos(350px, 350px);
    }

}

.card-cart2{
	background-image: url(../img/productos/cartoons/cart2.jpg);
	background-size: cover;
    @include pxbajos(175px, 175px);

    @media all and (min-width:$mediaq-md){
        @include pxaltos(350px, 350px);
    }
}

.card-cart3{
	background-image: url(../img/productos/cartoons/cart3.jpg);
	background-size: cover;
    @include pxbajos(175px, 175px);

    @media all and (min-width:$mediaq-md){
        @include pxaltos(350px, 350px);
    }
}

.card-cart4{
	background-image: url(../img/productos/cartoons/cart4.jpg);
	background-size: cover;
    @include pxbajos(175px, 175px);

    @media all and (min-width:$mediaq-md){
        @include pxaltos(350px, 350px);
    }
}

.card-cart5{
	background-image: url(../img/productos/cartoons/cart5.jpg);
	background-size: cover;
    @include pxbajos(175px, 175px);

    @media all and (min-width:$mediaq-md){
        @include pxaltos(350px, 350px);
    }
}

.card-cart6{
	background-image: url(../img/productos/cartoons/cart6.jpg);
	background-size: cover;
    @include pxbajos(175px, 175px);

    @media all and (min-width:$mediaq-md){
        @include pxaltos(350px, 350px);
    }
}

.card-cart7{
	background-image: url(../img/productos/cartoons/cart7.jpg);
	background-size: cover;
    @include pxbajos(175px, 175px);

    @media all and (min-width:$mediaq-md){
        @include pxaltos(350px, 350px);
    }
}

.card-cart8{
	background-image: url(../img/productos/cartoons/cart8.jpg);
	background-size: cover;
    @include pxbajos(175px, 175px);

    @media all and (min-width:$mediaq-md){
        @include pxaltos(350px, 350px);
    }
}

.card-cart9{
	background-image: url(../img/productos/cartoons/cart9.jpg);
	background-size: cover;
    @include pxbajos(175px, 175px);

    @media all and (min-width:$mediaq-md){
        @include pxaltos(350px, 350px);
    }
}

.card-cart10{
	background-image: url(../img/productos/cartoons/cart10.jpg);
	background-size: cover;
    @include pxbajos(175px, 175px);

    @media all and (min-width:$mediaq-md){
        @include pxaltos(350px, 350px);
    }
}

/* Cantatntes */

.card-cant1{
	background-image: url(../img/productos/cantantes/cantante1.jpg);
	background-size: cover;
    @include pxbajos(175px, 175px);

    @media all and (min-width:$mediaq-md){
        @include pxaltos(350px, 350px);
    }

}

.card-cant2{
	background-image: url(../img/productos/cantantes/cantante2.jpg);
	background-size: cover;
    @include pxbajos(175px, 175px);

    @media all and (min-width:$mediaq-md){
        @include pxaltos(350px, 350px);
    }
}

.card-cant3{
	background-image: url(../img/productos/cantantes/cantante3.jpg);
	background-size: cover;
    @include pxbajos(175px, 175px);

    @media all and (min-width:$mediaq-md){
        @include pxaltos(350px, 350px);
    }
}

.card-cant4{
	background-image: url(../img/productos/cantantes/cantante4.jpg);
	background-size: cover;
    @include pxbajos(175px, 175px);

    @media all and (min-width:$mediaq-md){
        @include pxaltos(350px, 350px);
    }
}

/* NFL */

.card-nfl1{
	background-image: url(../img/productos/nfl/nfl1.jpg);
	background-size: cover;
    @include pxbajos(175px, 175px);

    @media all and (min-width:$mediaq-md){
        @include pxaltos(350px, 350px);
    }

}

.card-nfl2{
	background-image: url(../img/productos/nfl/nfl2.jpg);
	background-size: cover;
    @include pxbajos(175px, 175px);

    @media all and (min-width:$mediaq-md){
        @include pxaltos(350px, 350px);
    }
}

.card-nfl3{
	background-image: url(../img/productos/nfl/nfl3.jpg);
	background-size: cover;
    @include pxbajos(175px, 175px);

    @media all and (min-width:$mediaq-md){
        @include pxaltos(350px, 350px);
    }
}

.card-nfl4{
	background-image: url(../img/productos/nfl/nfl4.jpg);
	background-size: cover;
    @include pxbajos(175px, 175px);

    @media all and (min-width:$mediaq-md){
        @include pxaltos(350px, 350px);
    }
}

.card-nfl5{
	background-image: url(../img/productos/nfl/nfl5.jpg);
	background-size: cover;
    @include pxbajos(175px, 175px);

    @media all and (min-width:$mediaq-md){
        @include pxaltos(350px, 350px);
    }
}

